<HTML>
<HEAD>
<title>Slices for Subject {subject}</title>
</head>
<html>

<h2>Anatomical slices for {subject}</h2>

<table width="1024px">
<tr>
    <th colspan="4" align="center">Center slices</th>
</tr>
<tr>
    <td colspan="4" align="center">
        <img src="{anat_path}/a3.png">&emsp;
        <img src="{anat_path}/s3.png">&emsp;
        <img src="{anat_path}/s3.png">
    </td>
</tr>
<tr>
    <th align="center">Axial -20%</th>
    <th align="center">Axial -10%</th>
    <th align="center">Axial +10%</th>
    <th align="center">Axial +20%</th>
</tr>
<tr>
    <td align="center"><img src="{anat_path}/a1.png"></td>
    <td align="center"><img src="{anat_path}/a2.png"></td>
    <td align="center"><img src="{anat_path}/a4.png"></td>
    <td align="center"><img src="{anat_path}/a5.png"></td>
</tr>
<tr>
    <th align="center">Coronal -20%</th>
    <th align="center">Coronal -10%</th>
    <th align="center">Coronal +10%</th>
    <th align="center">Coronal +20%</th>
</tr>
<tr>
    <td align="center"><img src="{anat_path}/c1.png"></td>
    <td align="center"><img src="{anat_path}/c2.png"></td>
    <td align="center"><img src="{anat_path}/c4.png"></td>
    <td align="center"><img src="{anat_path}/c5.png"></td>
</tr>
<tr>
    <th align="center">Sagittal -20%</th>
    <th align="center">Sagittal -10%</th>
    <th align="center">Sagittal +10%</th>
    <th align="center">Sagittal +20%</th>
</tr>
<tr>
    <td align="center"><img src="{anat_path}/s1.png"></td>
    <td align="center"><img src="{anat_path}/s2.png"></td>
    <td align="center"><img src="{anat_path}/s4.png"></td>
    <td align="center"><img src="{anat_path}/s5.png"></td>
</tr>
</table>
</html>

